.row-profile {
 display: flex;
 flex-direction: column;
 align-items: center;
}


.form-control:focus {
 box-shadow: none;
 border-color: #BA68C8
}

.profile-button {
 background: #2A2A32;
 box-shadow: none;
 border: none
}

.profile-button:hover {
 background: #1D28A1
}

.profile-button:focus {
 background: #1C2785;
 box-shadow: none
}

.profile-button:active {
 background: #170F7F;
 box-shadow: none
}

.back:hover {
 color: #162D9B;
 cursor: pointer
}

.labels {
 font-size: 11px
}

.add-experience:hover {
 background: #21156F;
 color: #fff;
 cursor: pointer;
 border: solid 1px #18117E
}